{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <script src="{% static '/js/app.js' %}" defer></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="buttons">
        <div id="cat">Webcam</div>
        <button id="btn" onclick="startWebcam()">Turn On Cam</button>
        <button id="btn" onclick="stopWebcam()">Turn Off Cam</button>
    </div>
    <div id="greet">{{greet}}</div>
    <video id="web-vid" autoplay="true"></video>
    {%block bodyblock%}
    <div class="buttons">
        <a id='cat' href="{% url 'face' %}">Face Detection</a>
        <a id='cat' href="{% url 'heart' %}">Heart Rate Detection</a>
    </div>
    <h1></h1>
    {% endblock %}
</body>

</html>